* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@import url(../recursos/klein.condensed-trial-extrabold.ttf);
@import url(../recursos/jane-roe.bold-italic.ttf);

/* FONDO BODY */
body {
    background: linear-gradient(rgb(87, 87, 87), rgb(71, 70, 70), rgb(95, 95, 95), rgb(44, 44, 44), black)
}

/* HEADER */



.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header__img {
    height: 90px;
}

.header__input {
    height: 30px;
    width: 200px;
    background-color: #ffffff11;
    border: 1px solid rgba(255, 255, 255, 0.386);
    border-radius: 5px;
    text-align: center;
}

.header__div {
    display: flex;
    align-items: center;

}

.header__div img {
    height: 20px;
    margin-left: 10px;
}


.header__list {
    display: flex;
    list-style: none;
    margin-top: 15px;
}

.header__item {
    padding: 10px;
}

.header__link {
    margin-left: 10px;
    text-decoration: none;
    padding: 10px;
    color: white;
    font-family: 'nike';
    text-transform: uppercase;
}

.header__link:hover {
    background-color: rgba(255, 255, 255, 0.509);
    transition: all .0s;
    border-radius: 5px;
}

.carrucel-mob {
    display: none;
}

.banner-mob {
    height: 80vw;
    width: 95%;
}

.carousel-inner {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 30px;
}

.ancho {
    height: 30vw;
}


/*----------- MAIN -----------*/


.div-logo-flotante {
    display: flex;
    justify-content: start;
    margin-left: 20px;
}

.logo-flotante {
    position: fixed;
    height: 50px;
    background-color: rgb(255, 254, 254);
    box-shadow: 0 0 10px 2px rgb(115, 115, 115);
    border-radius: 50%;
}

.titulo-index {
    font-size: 12vw;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    font-weight: bold;
    color: white;
    font-family: 'titulo';

}

.section-index {
    display: flex;
    margin-top: 50px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}

.section-index .modelo {
    height: 40vw;
    margin-left: 30px;
    border-radius: 5%;
}

.section-index .modelo:hover {
    opacity: 0.5;
    transition: all .3s;
}


.ropas {

    margin-left: 50px;

}

.card {
    margin: 20px;
    border-radius: 5%;
    background-color: #F2F2F2;
}

.card:hover {
    opacity: 0.5;
    transition: all .3s;
}

.ropas img {
    width: 190px;
    margin: auto;

}

.card-text {
    background-color: white;
}

.botones-verde {
    margin-top: 50px;
    text-align: center;
}

.boton-verde {
    height: 50px;
    width: 150px;
    border-radius: 5%;
    color: white;
    background-color: #0cbc6a;
    font-family: 'titulo';
    border: none;
}

.boton-verde:hover {
    background-color: #91c4ac;
}

.banner-run {
    text-align: center;
    margin-top: 50px;
}

.banner-run img {
    width: 100%;

}

.subtitulo-index {
    text-align: center;
    margin: 50px;
    color: white;
    font-family: 'titulo';
    font-size: 5vw;
}

.boton-run {
    height: 50px;
    width: 150px;
    border-radius: 5%;
    color: white;
    background: linear-gradient(45deg, #86059E, #0247EF);
    font-family: 'titulo';
    border: none;

}

.boton-run:hover {
    background: linear-gradient(45deg, #b63fcb, #2f5ed3);
    transition: all 1s;
}

.div-calzado {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.div-calzado .calzado img {
    height: 50vw;
    margin: 50px 40px 0px;
    border-radius: 5%;
}

.div-calzado .calzado img:hover {
    opacity: 0.5;
    transition: all .3s;
}

.div-calzado p {
    font-family: 'nike';
    font-size: 30px;
    color: white;
    margin-left: 40px;
}


/* ---- FOOTER ---- */

.div-apoyo-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    flex-wrap: wrap;
}

.footer__div {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.footer__h3 {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'titulo';
}

.footer_list {
    list-style: none;
}

.footer_list li a {
    text-decoration: none;
    color: gray;
    font-size: 13px;
}

.footer_list li a:hover {
    color: rgb(203, 203, 203);
    transition: all.5s;
}

.redes {
    display: flex;    
}



.redes img {
    height: 40px;
    margin: 5px;
}

.footer__informativo {
    display: flex;
    margin-top: 50px;
    align-items: start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer__informativo__div {
    display: flex;
    justify-content: center;
}

.footer__informativo__div img {
    height: 20px;
}

.footer__informativo__div p {
    margin-left: 20px;
}

.footer__informativo__div a {
    text-decoration: none;
    color: white;
}

.footer__informativo__div__dos a {
    text-decoration: none;
    color: gray;
    margin-left: 20px;
    font-size: 10px;
}

.footer__informativo__div__dos a:hover {
    color: rgb(203, 203, 203);
}




/* ---- MEDIA QUERYS ---- */


@media (max-width:840px) {
    .header__nav {
        justify-content: center;
    }

    .header__list {
        flex-wrap: wrap;
    }
}


@media (max-width:740px) {
    .div-calzado {
        align-items: center;
        margin-left: 0;
        margin: 20px;
    }

    .div-calzado .calzado img {
        height: 70vw;
        margin: 0;
    }

    .div-calzado p {
        margin: 0;
    }

}
@media (max-width:690px) {
.footer{
    justify-content: center;
    align-items: center;
   
}

}

@media (max-width:660px) {

    .carrucel-desktop {
        display: none;
    }

    .carrucel-mob {
        display: block;
    }

    .section-index .modelo {
        height: 65vw;
        margin-left: 0;
    }

    .ropas {
        margin-left: 0;
    }
    
}





/* ---- TIPOGRAFIAS ---- */

@font-face {
    font-family: 'titulo';
    src: url(../recursos/klein.condensed-trial-extrabold.ttf);
}

@font-face {
    font-family: 'nike';
    src: url(../recursos/jane-roe.bold-italic.ttf);
}