* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@import url(../recursos/klein.condensed-trial-extrabold.ttf);
@import url(../recursos/jane-roe.bold-italic.ttf);

/* CONTENEDORES */
body {
   background-color: black;

}

.apoyo{
    display: flex;
    align-items: start;
    flex-direction: row-reverse;
  
    
}

.contenido{
    width: 100%;
    text-align: center;
}



/* HEADER */

/* .header{
    background-image: url(../recursos/banner/fondo-nav.webp);
    background-position: center;
    background-size: cover;
    height: 500px;
} */

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header__img {
    height: 90px;
}

.header__input {
    height: 30px;
    width: 200px;
    background-color: #ffffff11;
    border: 1px solid rgba(255, 255, 255, 0.386);
    border-radius: 5px;
    text-align: center;
}

.header__div {
    display: flex;
    align-items: center;

}

.header__div img {
    height: 20px;
    margin-left: 10px;
}


.header__list {
    display: flex;
    list-style: none;
    margin-top: 15px;
    flex-wrap: wrap;
}

.header__item {
    padding: 10px;
}

.header__link {
    margin-left: 10px;
    text-decoration: none;
    padding: 10px;
    color: white;
    font-family: 'nike';
    text-transform: uppercase;
}

.header__link:hover {
    background-color: rgba(255, 255, 255, 0.509);
    transition: all .0s;
    border-radius: 5px;
}

.banner{
    margin-top: 100px;
    width: 100%;
}

.none{
    display: none;
}





/*----------- MAIN -----------*/

/*------ LOGO FLOTANTE ------ */

.div-logo-flotante {
    display: flex;
    justify-content: start;
    margin-left: 20px;
}

.logo-flotante {
    position: fixed;
    height: 50px;
    background-color: rgb(255, 254, 254);
    box-shadow: 0 0 10px 2px rgb(115, 115, 115);
    border-radius: 50%;
    margin-top: 5%;
}


/* ------ TITULO  ------ */

.titulo-index {
    font-size: 12vw;
    text-align: center;
    margin: 20px auto;
    font-weight: bold;
    color: white;
    font-family: 'titulo';
   
}

.subtitulo{
    font-family:'titulo';
    font-weight: bold;
    color: white;
    font-size: 40px;
    margin-top: 50px;
    margin-left: 10px;

}

/* ------ SECCION ------ */

.section-index {
    display: flex;
   
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 100px 0;
    
   
}

.fondo-blanco{
    background-color: rgb(228, 226, 226);
    border-top: 4px  solid rgb(23, 206, 93);
    background-image: url(../recursos/banner/fondo-logo.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: 300px;

}

 .modelo {
 
    border-radius: 5%;
    box-shadow: 0px 5px 5px 0px black;
}

.modelo:hover {
    opacity: 0.5;
    transition: all .3s;
}


.ropas {
   display: flex;
   flex-wrap: wrap;
   max-width: 600px;

}

.card {
    margin: 20px auto;
    border-radius: 10px;
    background-color: #F2F2F2;
    height: 16rem;
    width: 16rem;
   box-shadow: 0px 5px 5px 0px black;

}

.card:hover {
    opacity: 0.5;
    transition: all .3s;
}

.ropas img {
    height: 100%;
    border-radius: 10px;
}


.card-text {
    background-color: white;
}

.women {
    flex-direction: row-reverse;
}

.botones-verde {
    margin-top: 50px;
    text-align: center;
}

.boton-verde {
    height: 50px;
    width: 150px;
    border-radius: 5px;
    color: white;
    background-color: #0cbc6a;
    font-family: 'titulo';
    border: none;
}

.boton-verde:hover {
    background-color: #adb3b0;
    transition: all .2s;
}

.banner-run {
    text-align: center;
    margin-top: 50px;
}

.banner-run img {
    width: 100%;

}

.subtitulo-index {
    text-align: center;
    margin: 50px;
    color: white;
    font-family: 'titulo';
    font-size: 5vw;
}

.boton-run {
    height: 50px;
    width: 150px;
    border-radius: 5%;
    color: white;
    background: linear-gradient(45deg, #86059E, #0247EF);
    font-family: 'titulo';
    border: none;

}

.boton-run:hover {
    background: linear-gradient(45deg, #b63fcb, #2f5ed3);
    transition: all 2s;
   
}

.div-calzado {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.div-calzado .calzado img {
    height: 50vw;
    margin: 50px 40px 0px;
    border-radius: 5%;
    min-height: 400px;
   
}

.div-calzado .calzado img:hover {
    opacity: 0.5;
    transition: all .3s;
}

.div-calzado p {
    font-family: 'nike';
    font-size: 30px;
    color: white;
    margin-left: 40px;
}




/*----------------    PAGES KIDS ------------------- */




/* ---- FOOTER ---- */

.div-apoyo-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    flex-wrap: wrap;
}

.footer__div {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.footer__h3 {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'titulo';
}

.footer_list {
    list-style: none;
    margin: 20px;
}

.footer_list li a {
    text-decoration: none;
    color: gray;
    font-size: 13px;
}

.footer_list li a:hover {
    color: rgb(203, 203, 203);
    transition: all.5s;
}

.redes {
    display: flex;
    padding: 0;
}



.redes img {
    height: 40px;
    margin: 5px;
}

.footer__informativo {
    display: flex;
    margin-top: 50px;
    align-items: start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer__informativo__div {
    display: flex;
    justify-content: center;
}

.footer__informativo__div img {
    height: 20px;
}

.footer__informativo__div p {
    margin-left: 20px;
}

.footer__informativo__div a {
    text-decoration: none;
    color: white;
}

.footer__informativo__div__dos a {
    text-decoration: none;
    color: gray;
    margin-left: 20px;
    font-size: 10px;
}

.footer__informativo__div__dos a:hover {
    color: rgb(203, 203, 203);
}




/* ---- MEDIA QUERYS ---- */




@media (max-width:660px) {

    .banner{
        display: none;
    }

    .banner-mob{
        display: block;
        width: 100%;
    }

    .subtitulo{
        text-align: center;
    }


   .boton-run{
    background: none;
    background-color: rgb(209,13,37);
   }
   
   .modelo{
     width: 95%;

   }

   .section-index{
    flex-direction: row-reverse;
    justify-content: center;
    overflow: hidden;
  
   }
   .ropas{
    display: none;

   }

  
}


@media (max-width:500px){

    .header__nav{
        display: none;
       
    }

    .nav-mob{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
    }

    .btn-mob{
        background-color: black;
        border: 0;
        height: 20px;        
    }   

  

    .header__img{
        height: 40px;
    }

    /* BARA LATERAL */

    .barra-lateral{
        position: absolute;
        background-color: rgba(8, 8, 8, 0.479);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row-reverse;

        
    }
 

    .contenedor-lista{
        position: absolute;
        height: 100%;
        background-color: rgb(8, 8, 8);
        translate: 200px;
       
        
        
    }
  
    .lista-barra{
        display: flex;
        list-style: none;
        flex-direction: column;
        justify-content: start;
       
        
    }
  

    .item-barra{
        margin: 20px;
        padding: 20px 20px;
        font-size: 20px;
       
      
    }
    

    .link-barra {
        text-decoration: none;
        color: white;
      
        font-family: 'nike';
       
    }




}



/* ---- TIPOGRAFIAS ---- */

@font-face {
    font-family: 'titulo';
    src: url(../recursos/klein.condensed-trial-extrabold.ttf);
}

@font-face {
    font-family: 'nike';
    src: url(../recursos/jane-roe.bold-italic.ttf);
}